body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  header {
    text-align: center;
    padding: 20px;
  }
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .fullscreen-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo img {
    width: 200px;
  }
  
  
  form {
    text-align: center;
    margin-top: 50px;
  }
  
  form input[type="text"] {
    padding: 10px;
    width: 400px;
    font-size: 16px;
  }
  
  form input[type="submit"] {
    padding: 10px 20px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  nav {
    text-align: center;
    margin-top: 50px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  footer {
    text-align: center;
    padding: 40px;
    font-size: 14px;
    color: #fff;
  }
  